<!DOCTYPE html>
<html>
  <head>
    <title>Klink</title>
    <%= csrf_meta_tags %>
<<<<<<< HEAD
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <%= javascript_include_tag 'https://code.responsivevoice.org/responsivevoice.js', 'data-turbolinks-track': 'reload' %>
=======


    <%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.0/fabric.min.js', 'data-turbolinks-track': 'reload' %>
>>>>>>> 30ade24e8383f3d023eec57d8f0f6cbdc0d583ae
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
