<!DOCTYPE html>
<html>
  <head>
    <title>Klink</title>
    <%= csrf_meta_tags %>

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <%= javascript_include_tag 'https://code.responsivevoice.org/responsivevoice.js', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.0/fabric.min.js', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render '/layouts/header' %>
    <%= yield %>
  </body>
</html>
