<!DOCTYPE html>
<html>
  <head>
    <title>Klink</title>
    <%= csrf_meta_tags %>


    <%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.0/fabric.min.js', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
